<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WP REST API</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <div id="container" class="container">
    <h1>WP REST API</h1>
    <p>
      <input type="text" class="form-control" v-model="wpRestServer" placeholder="WordPress Server URL">
    </p>
    <p>
      Some examples:
      <ul>
        <li>https://css-tricks.com</li>
        <li>http://tri.be</li>
        <li>http://rulo.me/rulokoba</li>
      </ul>
    </p>
    <h2>Posts</h2>
    <p>
      <input type="text" class="form-control" v-model="getPostsQuery">
    </p>
    <p>
      <button class="btn btn-primary" v-on:click="getPosts()">Get Posts</button>
    </p>
    <ul class="posts-list">
      <li class="posts-list-item" v-for="post in posts">
        <div class="post">
          <h3>{{ post.title.rendered }}</h3>
          <p v-html="post.content.rendered"></p>
        </div>
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

  <script>
    var app = new Vue({
      el: '#container',
      data: {
        wpRestServer: 'https://css-tricks.com',
        getPostsQuery: `/wp-json/wp/v2/posts?posts_per_page =3&page=1`,
        posts: []
      },
      methods: {
        getPosts: function () {
          fetch(`http://localhost:3000/wprestapi-get?url=${this.wpRestServer}${this.getPostsQuery}`)
            .then(res => res.json())
            .then(json => {
              console.log(json);
              this.posts = json;
            })
            .catch(err => {
              console.log(err);
            });
        }
      }
    });
  </script>
</body>

</html>